
<div class="nav-items">
  <div class="nav-item">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <span> Blog </span>
  </div>
  <div class="nav-item">

    <span>ARTICLES </span>
    <fa-icon [icon]="faHandPaper"></fa-icon>
  </div>
  <div class="nav-item">

    <span>CATEGORIE </span>
    <fa-icon [icon]="faShop"></fa-icon>
  </div>
  <div class="nav-item">

    <span>UTILISATEUR </span>
    <fa-icon [icon]="faUsers"></fa-icon>
  </div>
  <div class="nav-item">
    <span>Aide </span>
    <fa-icon [icon]="faHandsHelping"></fa-icon>
  </div>
  <div class="nav-item">
    <span>Dashboard </span>
  </div>
</div>
