.top-section {
  @media only screen and (max-width: 1600px) {
    width: 1280px;

  }
  @media only screen and (max-width: 1500px) {
    width: 1180px;

  }
  @media only screen and (max-width: 1400px) {
    width: 1080px;

  }
  @media only screen and (max-width: 1200px) {
    width: 980px;

  }
}
.middle-section {
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 1600px) {
    width: 1280px;
  }
  @media only screen and (max-width: 1500px) {
    width: 1180px;
  }
  @media only screen and (max-width: 1400px) {
    width: 1080px;
  }
  @media only screen and (max-width: 1200px) {
    width: 980px;
  }
  .widget{
    height: 350px;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 5px 5px 5px 5px #939393;
    &.left{
      width: 890px;
      @media only screen and (max-width: 1600px) {
        width: 790px;
      }
      @media only screen and (max-width: 1500px) {
        width: 690px;
      }
      @media only screen and (max-width: 1400px) {
        width: 590px;
      }
    }
  }
}
