<div class="top-section">
  <app-top-widgets></app-top-widgets>
</div>
<div class="middle-section">
  <div class="widget left">
    <app-sales-by-month></app-sales-by-month>
  </div>
  <div class="widget right">
    <app-sales-by-category></app-sales-by-category>
  </div>
</div>
<div class="bottom-section">
  <div class="widget left">
    <app-last-few-transactions></app-last-few-transactions>
  </div>
  <div class="widget right">
    <app-top-three-product></app-top-three-product>
  </div>
</div>
