.main-container{
  display: flex;
  .side-nav{
    z-index: 10;
    width: 350px;
    min-width: 230px;
    min-height: calc(100vh - 70px);
    background-color: #113c60;
    color: #fff;
    box-shadow: 5px 5px 5px #939393;
    @media only screen and (max-width: 1300px) {
      width: 100px;
      min-width: 100px;

    }
  }
  .main {
    padding: 30px;
  }
}
