/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,600&family=Quicksand:wght@300;400;700&family=Raleway:wght@300;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: poppins, sans-serif;
  background: #ffffff;
  overflow-x: hidden;
}
